@{
    Layout = null;
}

<div id="QuantityModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalTitle" class="modal fade" aria-modal="true">
    <div role="document" class="modal-dialog modal-lg">
        <form id="form-submit" action="#">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="titleModal" class="modal-title white ">Thêm mới số lượng sản phẩm </h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                  
                    <div class="row">
                        <div class="col-4 mb-2">
                            <div class="form-group">
                                <label for="productcategoryid">Tên sản phẩm <span class="required">(*)</span></label>
                                <input type="text" id="productname" name="productname" class=" form-control" disabled>
                                <!---->
                            </div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="form-group ">
                                <label for="selectcolor">Màu sắc <span class="required">(*)</span></label>
                                <select name="color_id" id="color_id" class="form-select">
                                    <option value="" selected="selected" disabled="disabled">Chọn màu sắc</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="form-group">
                                <label for="productcategoryid">Dung lượng lưu trữ <span class="required">(*)</span></label>
                                <input type="text" id="capacity" name="capacity" placeholder="Dung lượng lưu trữ" class=" form-control">
                            </div>
                        </div>
                    </div>                   
                    <div class="row">
                        <div class="col-4 mb-2">
                            <div class="form-group">
                                <label for="productcategoryid">Tổng số nhập <span class="required">(*)</span></label>
                                <input type="number" min="0" id="totalimport" name="totalimport" placeholder="Tổng số nhập" class=" form-control">
                            </div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="form-group">
                                <label for="productcategoryid">Giá nhập <span class="required">(*)</span></label>
                                <input type="text" id="priceimprot" name="priceimprot" placeholder="giá nhập" class=" form-control">
                            </div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="form-group">
                                <label for="productcategoryid">Giá bán <span class="required">(*)</span></label>
                                <input type="text" id="pricesell" name="pricesell" placeholder="Giá bán" class=" form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-2">
                            <div class="form-group product-images">
                                <label style="display: block">Hình ảnh</label>
                                <input type="file" id="productimages" name="productimages" class="form-control filesImages" multiple style="display:none"> <!----> <!---->
                                <label class="box-image" for="productimages"></label>
                                <div class="productimages"></div>
                            </div>
                        </div>
                    </div>
                   @* <div class="row">
                        <div class="col-12 d-flex justify-content-end"><button type="submit" class="btn btn-primary me-1 mb-1 btn-submit-format">Thêm mới</button></div>
                    </div>*@
                </div>
                <div class="modal-footer"><button type="submit" class="btn btn-primary me-1 mb-1 btn-submit-format">Thêm mới</button></div>
            </div>
        </form>
    </div>
</div>